<div class="post-search">

  <%= render partial: 'users/users/user', locals: { user: @user, post: @post, isRoom: @isRoom, roomId: @roomId, room: @room, userRoom: @userRoom } %>


  <div class="post-search__result">
      <div>
        <h1>
          <i class="fas fa-search"></i>
          <%= @posts.count %>件の検索結果
        </h1>
      </div>
      <!--自分の投稿を検索するためにマイページにのみ検索バーを表示-->
      <% if @user.id == current_user.id %>
        <div class="post-search__result--search-bar">
          <%= search_form_for @q do |f| %>
            <!--タイトルと記事の内容で検索可能-->
            <%= f.search_field :title_or_content_cont, required: true, placeholder:"投稿を検索", class: "tab__post-search--form" %>
            <%= f.button :type => "submit" do %>
              <i class="tab__post-search--form fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

        <% if @posts.count >= 1 %>
          <div class='post-search__result--index'>
            <div class="search-result">

              <% @posts.each do |post| %>
                <article>

                  <div class="search-result__post-title">
                    <p><%= link_to post.title, post_path(post.id) %></p>
                  </div>

                  <div class="search-result__post-info">
                    <i class="fas fa-heart"></i>&nbsp;<%= post.likes.count %>
                    |
                    作成日:<%= post.created_at.strftime('%Y/%m/%d') %>
                  </div>

                </article>
              <% end %>

              <div class="search-result__paginate">
                <%= paginate @posts %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="no-result">
            <h3>キーワードに一致する記事は見つかりませんでした。</h3>
          </div>
        <% end %>
  </div>
</div>