<div class="post-new">
  <div class="post-new__new-form">
  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

    <div>
      <div>
        <%= f.label :title, "タイトル" %>
      </div>
      <%= f.text_field :title %>
    </div>

    <div>
      <div>
        <%= f.label :content, "本文" %>
      </div>
      <%= f.text_area :content, id: 'new_content_form' %>
    </div>

    <div>
      <%= f.submit '投稿' %>
    </div>

  <% end %>
  </div>
</div>


<script>
  new FroalaEditor('#new_content_form',{
    language: 'ja',
    imageUploadURL: '/upload_image',
    imageUploadParams: {
      id: 'my_editor'
    },
    emoticonsUseImage: false
  });
</script>