<div class="post-new">
  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

    <div>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :content, "本文" %>
      <%= f.text_area :content, id: 'content_form' %>
    </div>

    <div>
      <%= f.submit '投稿' %>
    </div>

  <% end %>
</div>


<script>
  new FroalaEditor('#content_form',{
    language: 'ja',
  });
</script>