<div>
  <div>
    <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpg', class: "img-circle profile-img", fallback: "no_image.jpg", size: "50x50" %>
  </div>
  <div>
    <%= user.name %>
  </div>
  <div>
    <%= user.introduce %>
  </div>

  <table>
    <tr>
      <p>フォロー：<%= link_to user.followings.count, user_follow_path(user.id) %></p>
    </tr>

    <tr>
       <p>フォロワー：<%= link_to user.followers.count, user_follower_path(user.id) %></p>
    </tr>

    <tr>
       <p>投稿数：<%= user.posts.count %></p>
    </tr>
    
    <tr>
      <p><%= link_to 'タイムライン', user_timeline_path %></p>
    </tr>
    
    <tr>
      <p><%= link_to 'いいねした投稿', user_like_path(user.id) %></p>
    </tr>
    
    <tr>
       <p><%= link_to '予定表', user_events_path(user_id: user.id) %></p>
    </tr>

    <tr>
      <% unless user.id == current_user.id %>
       <% if (current_user.following? user) && (user.following? current_user) %>
         <% if isRoom == true %>
          <%= link_to "チャット", room_path(roomId) %>
         <% else %>
           <%= form_with model: room, url: rooms_path, method: :post, local: true do |f| %>
             <%= fields_for userRoom do |u| %>
               <%= u.hidden_field :user_id, value: user.id %>
             <% end %>
             <%= f.submit "チャットを始める" %>
           <% end %>
         <% end %>
       <% end %>
      <% end %>
    </tr>
  </table>

  <div>
    <% if user.id != current_user.id %>
     <%= render partial: 'users/relationships/follow', locals: { user: @user } %>
    <% end %>
  </div>

  <div>
    <% if user.id == current_user.id %>
      <%= link_to "プロフィールを編集する", edit_user_path(user.id) %>
    <% end %>
  </div>
</div>





