<div>
   <%= render partial: 'users/users/user', locals: { user: @user, post: @post, isRoom: @isRoom, roomId: @roomId, room: @room, userRoom: @userRoom } %>
</div>

<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">自分の投稿</a></li>
    <li><a href="#tab2" class="">タイムライン</a></li>
    <li><a href="#tab3" class="">いいねした投稿</a></li>
  </ul>

  <div id="tab-index">
    <div id="tab1" class="tab">

      <div>
        <%= search_form_for @q do |f| %>
          <%= f.label :title_or_content, "投稿を検索", placeholder:"タイトルと本文のキーワードで検索できます" %>
          <%= f.search_field :title_or_content_cont, required: true %>

          <%= f.button :type => "submit" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <div>
        <% @posts.each do |post| %>
          <div>
            <%= post.title %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="tab2" class="tab">
      <div>
        <% @timelines.each do |timeline| %>
          <div>
            <%= timeline.title %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="tab3" class="tab">
      <div>
        <% @likes.each do |like| %>
          <% post = Post.find_by(id: like.post_id) %>
          <div>
            <%= post.title %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>