<div class="timeline">

  <%= render partial: 'users/users/user', locals: { user: current_user, post: @post, isRoom: @isRoom, roomId: @roomId, room: @room, userRoom: @userRoom } %>

  <div class="timeline__index">
    <h1>
      <i class="far fa-clock"></i>
      タイムライン
    </h1>
    <div class="timeline__index--article">
      <div class="timeline-posts">
        <% @timelines.each do |timeline| %>
          <article>
            
            <div class="timeline-posts__user">
              <p>
                <%= link_to timeline.user.name, user_path(timeline.user.id) %>
              </p>
            </div>
            
            <div class="timeline-posts__post-title">
              <p>
                <%= attachment_image_tag timeline.user, :profile_image, :fill, 40, 40, format: 'jpg', class: "img-circle profile-img", fallback: "no_image.jpg", size: "40x40" %>
                <%= link_to timeline.title, post_path(timeline.id) %>
              </p>
            </div>

            <div class="timeline-posts__post-info">
              <i class="fas fa-heart"></i><%= timeline.likes.count %>
              |
              作成日:<%= timeline.created_at.strftime('%Y/%m/%d') %>
            </div>
          </article>
        <% end %>

        <div class="timeline-posts__paginate">
          <%= paginate @timelines %>
        </div>
      </div>
    </div>
  </div>
</div>