<%= flash[:error] %>
<div class="session">
  <div class="session__form">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス", class: "session__form--label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード", class: "session__form--label" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="session__form--actions">
        <%= f.submit "ログイン", class: "session__form--submit" %>
      </div>
    <% end %>

    <div class="registration-link">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>