<div class="ad-session">
  <div class="ad-session__form">
    <h1>管理者ログイン</h1>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="ad-session__field">
        <%= f.label :"メールアドレス", class: "ad-session__field--label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="ad-session__field">
        <%= f.label :"パスワード", class: "ad-session__field--label" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <div class="ad-session__field--actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
    
    <%= link_to "管理者登録",  new_admin_registration_path %>
  </div>
</div>