<div class="event-edit"></div>

  <%= form_with model: @event, url: event_path(@event.id), method: :patch, local: true do |f| %>
  
    <%= f.label :title, '予定のタイトル' %>
    <br>
    <%= f.text_field :title %>
  
    <br>
  
    <%= f.label :content, '予定の詳細' %>
    <br>
    <%= f.text_area :content %>
  
    <br>
  
    <%= f.label :start_date, '開始時間' %>
    <br>
    <%= f.datetime_select :start_date, {use_month_numbers: true, start_year: Date.today.year} %>
  
    <br>
  
    <%= f.label :end_date, '終了時間' %>
    <br>
    <%= f.datetime_select :end_date, {use_month_numbers: true, start_year: Date.today.year} %>
  
    <br>
  
    <%= f.submit '予定を変更' %>
  
  <% end %>
</div>