<div class="event-new">
  <div class="event-new__heading">
    <h1>
      <i class="far fa-calendar-alt"></i>
      予定の追加
    </h1>
  </div>

  <div class="event-new__event-new-form">
    <%= form_with model: @event, url: events_path, method: :post, local: true do |f| %>
    <%= render partial: 'layouts/error_messages', locals: { model: f.object } %>
      <div class="event-new-field">
        <div class="event-new-field__label">
          <%= f.label :title, '予定のタイトル' %>
        </div>
        <%= f.text_field :title %>
      </div>

    <div class="event-new-field">
      <div class="event-new-field__label">
        <%= f.label :content, '予定の詳細' %>
      </div>
      <%= f.text_area :content, class: "event-new__event-new-form--form-area" %>
    </div>

    <div class="event-new-field">
      <div class="event-new-field__label">
        <%= f.label :start_date, '開始時間' %>
      </div>
      <%= f.datetime_select :start_date, {use_month_numbers: true, start_year: Date.today.year} %>
    </div>

    <div class="event-new-field">
      <div class="event-new-field__label">
        <%= f.label :end_date, '終了時間' %>
      </div>
      <%= f.datetime_select :end_date, {use_month_numbers: true, start_year: Date.today.year} %>
    </div>

    <div class="event-new__event-new-form--submit">
      <%= f.submit '予定を追加', class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
  </div>
</div>