<!DOCTYPE html>
<html>
  <head>
    <title>Helput</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <div class="header-title">
        <h1>
          <%= link_to 'helput', root_path %>
        </h1>
      </div>
      
      <% if user_signed_in? %>
      <% else %>
        <nav>
          <ul class="header-list">
            <li class="header-list__header-item">
              <%= link_to '新規登録', new_user_registration_path %>
            </li>
            
            <li class="header-list__header-item">
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
            
            <li class="header-list__header-item">
              <%= link_to 'helputについて', homes_about_path %>
            </li>
            
            <li class="header-list__header-item">
              <%= link_to 'お問い合わせ', new_contact_path %>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p class="footer-text">
        Copyright © ono ryota. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
