<%= render "users/shared/error_messages", resource: resource %>

<div class="registration">
  <div class="registration__form">
    <h1>新規会員登録</h1>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
      <div class="field">
        <%= f.label :"ユーザー名", class: "registration__form--label" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
    
      <div class="field">
        <%= f.label :"メールアドレス", class: "registration__form--label" %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :"パスワード", class: "registration__form--label" %>
        <% if @minimum_password_length %>
        <em>(最大<%= @minimum_password_length %>文字入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :"パスワード確認", class: "registration__form--label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="registration__form--actions">
        <%= f.submit "会員登録", class: "registration__form--submit" %>
      </div>
    <% end %>
    
    <%#= render "users/shared/links" %>
  </div>
</div>